body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}
#nfa_graph {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#path_div {
    font-weight: bold;
}