html, body {
    width: 100%;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

div.left{
    display: block;
    float: left;
    width: 300px;
}
div.right{
    display: block;
    float: left;
    padding: 0 30px;
    border-left: solid 1pt black;
    text-align: center;
}
div#instructions{
    display: block;
    float: left;
    padding: 0px 20px;
}
input#show_graph{
    display: block;
    margin-bottom: 8px;
}